[Unit]
Description=Install staged SteamOS NVIDIA Flatpaks
ConditionPathExists=/usr/share/steamos-build/flatpaks

[Service]
Type=oneshot
ExecStart=/usr/lib/steamos-build/install-staged-flatpaks

[Install]
WantedBy=default.target
